<!DOCTYPE html>
<html>

<head>
    <title>WD-5000 Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    
    <!--link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css"-->
    <!-- <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script> -->
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script-->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./lib/material.orange-indigo.min.css">
    <link rel="stylesheet" href="./lib/styles.css">
    <link rel="stylesheet" href="./lib/icon.css">
    <script src="./lib/material.min.js"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/index_msg_TC.js"></script>
    <script src="./lib/index_fn.js"></script>
</head>
 
<body>
    <header>   
        <div>
        WD-5000 Cloud Display App
        <input id="version_id" class="verbox" readonly>
        <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_list_numbered_rtl</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href= "javascript:" onclick=new_url('/ESCPOS')>ESCPOS</a><br><br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="javascript:" onclick=new_url('/CD5220')>CD5220</a><br><br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="javascript:" onclick=new_url('/POS7300')>POS7300</a><br><br>
            <!--a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/UTC">UTC</a><br><br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/AEDEX">AEDEX</a><br><br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/ADM788">ADM788</a><br><br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/DSP800">DSP800</a><br><br-->
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="javascript:" onclick=new_url("/Windows")>Window</a><br><br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="javascript:" onclick=new_url("/WPFontloader")>PRINTER</a><br><br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="javascript:" onclick=new_url("/Tools")>Tools</a>
            
        </ul>
        <input id="mem_id" class="membox" readonly> 
        </div> 
    </header>   
    <nav>
        <input id="time_id" class="timebox" readonly>
        <input id="user_id" class="userbox" placeholder="Login User" readonly> 
        <textarea type="text" placeholder="status" id="ID_Prnstatus" rows="1" cols="40" readonly class="statusmessage"></textarea>
    </nav>
   
    <div id="id01" class="modal">
        <form class="modal-content animate" name="login">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close">
                    <i class="material-icons">cancel</i>
                </span>
            </div>
            <div class="logincontainer">
                <div>
                    <i class="material-icons">group</i>
                    <input type="text" placeholder="Enter User Name" id="uname" required>
                </div>
                <div>
                    <i class="material-icons">fingerprint</i>
                    <input type="password" placeholder="Enter Password" id="psw" required>
                </div>
                <input id="chkuser" class="btn" type="submit" value="Login">
            </div>
        </form>
    </div>
   
    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {   
            if (event.target == modal) {       
                modal.style.display = "none";   
            }
        }
    </script>

    <div class="mybox-5">
        <li>
            <h6> Communication</h6>
        </li>
        <li>
            <a>
            <lable>Deive ID</lable><input type="text" id="deviceid">
            <input class="btn" type="submit" id="portstatus" value="Open Port">
            
            <button id="openlogin" class="btn">Login</button>
            <button id="restart" class="btn" type="submit">Display Restart</button> 
            </a>
        </li>
        <li>
            <a>  
            <label>Port:</label><br>
            <select id="comname" size="1">
            </select>
            <label>Baud:</label>
            <select id="baudid">
                        <option value= "4800" >4800</option>
                        <option value= "9600" >9600</option>
                        <option value= "19200">19200</option>
                        <option value= "38400">38400</option>
                        <option value= "115200" selected>115200</option>
            </select>
            <br>
            <label>Parity:</label>
            <select id="parityid" disabled>
                        <option value="NONE" selected>none</option>
                        <option value="EVEN" >even</option>
                        <option value="ODD" >odd</option>
            </select>
            <br>
            <label>Length:</label>
            <select id="datalenid" disabled>
                        <option value="7" >7 bits</option>
                        <option value="8" selected>8 bits</option> 
            </select>
            <br>
            <label>HTTP Port : </label>
            <input id="httpid" rows="1" cols="5" class="httpbox" readonly disabled><br>
            <button id="comportset" class="btn" type="submit">Save Comport</button>
            </a>
        </li> 
    </div>
    <div class="mybox-5">
        <li>
            <h6>Command Type</h6>
        </li>
        <li>
            <a>
            <select name="type_id" id="selectid">
                        <option value="ESC/POS" selected>ESC/POS</option>
                        <option value="CD5220">CD5220</option>
                        <option value="POS7300">POS7300</option>
                        <option value="UTC/S">UTC/S</option>
                        <option value="UTC/P">UTC/P</option>
                        <option value="AEDEX">AEDEX</option>
                        <option value="ADM788">ADM788</option>
                        <option value="DSP800">DSP800</option>
            </select>
            
            <button  id="setcmdtype" class="btn" type="submit">Set Command Type</button>
            <p class="mdl-tooltip" for="setcmdtype">
                <i class="material-icons">notifications</i><sapn id="MSGstcmd"></sapn>
            </p>
            </a>
        </li>
        <li>
            <h6>Read device Info.</h6>
        </li>
        <li>
            <a>
            <button id="showfwversion" class="btn" type="submit">Show FW Version</button>
            <button id="rdbaud" class="btn" type="submit">Read Baud Rate</button>
            <button id="rdcmdtype" class="btn" type="submit">Read Command Type</button>
            <button id="rdcharset" class="btn" type="submit">Read Character Set</button>
            <button id="rdcodepage" class="btn" type="submit">Read Code Page</button>
            <button id="rdfw" class="btn" type="submit">Read FW Version</button>
            </a>
        </li>
    </div>
    <div class="mybox-5">
        <li>
            <h6>Macro Setting</h6>
        </li>
        <li>
            <a>
            <span id="tip_mc1">Char delay Time
                        <p class="mdl-tooltip" for="tip_mc1">
                            <i class="material-icons">notifications</i><sapn id="MSGmc1"></sapn>
                        </p> 
            </span>
            <select id="c_delay_id">
                        <option value=0 >0 ms</option>
                        <option value=1 selected>20ms * 1</option>
                        <option value=10 >20ms * 10</option>
                        <option value=20>20ms * 20</option>
                        <option value=50>20ms * 50</option>
            </select>
            <br>
            <span id ="tip_mc2">Exec delay Time  
                    <p class="mdl-tooltip" for="tip_mc2">
                        <i class="material-icons">notifications</i><sapn id="MSGmc2"></sapn>
                    </p> 
            </span> 
            <select id="exc_delay_id">
                    <option value=0 >0 ms</option>
                    <option value=10 selected>50ms * 10</option>
                    <option value=20>50ms * 20</option>
                    <option value=40>50ms * 40</option>
            </select>
            <br>
            <span  id ="tip_mc3">BMP delay Time
                    <p class="mdl-tooltip" for="tip_mc3">
                        <i class="material-icons">notifications</i><sapn id="MSGmc3"></sapn>
                    </p> 
            </span>
            <select id="bmp_delay_id">
                    <option value=0 >0 ms</option>
                    <option value=10 >20ms * 10</option>
                    <option value=20>20ms * 20</option>
                    <option value=50 selected>20ms * 50</option>
                    <option value=100>20ms * 100</option>
            </select>
            <br>
            <sapn id="tip_mc4">Execute Mode
                    <p class="mdl-tooltip" for="tip_mc4">
                        <i class="material-icons">notifications</i><br>
                        <sapn id="MSGmc4"></sapn>
                    </p>  
            </sapn> 
            <select id="exec_mode_id">
                    <option value=0 >Startup without macro</option>
                    <option value=1 selected>Startup with macro</option>
                    <option value=2>Loop without macro</option>
                    <option value=3>Loop with macro</option>
            </select>
            <br>
            <form id="setmacro">
                <input type="submit" class="btn" id="macrostage" value="Start Record Macro">
            </form>
            </a>  
        <li> 
            <a>
            <input id="execmacro" type="submit" class="btn" value = "Execute Macro">
            </a>
        </li> 
        <li>
            <h6>Read macro file</h6>
        </li>
        <li>
            <a>
            <input class="Filecontainer" type="file" id="macro_file" onchange="readFile(this)">
            <input id="exemacrofile" type="submit" class="btn" value = "Execute Macro File">
        </a>
        </li>  
    </div>
    <div class="mybox-5">
        <li>
            <h6>Character Setting</h6>
        </li>
        <li>
            <a>
            <select name="codetable_id" id="codetable_val">
                        <option value=0 selected>CP_437</option>
                        <option value=1>Katakana</option>
                        <option value=2>CP-850(Multilingual)</option>
                        <option value=3>CP-860(Portugese)</option>
                        <option value=4>CP-863(Canadian-French)</option>
                        <option value=5>CP-865(Nordic)</option>
                        <option value=6>Slawie</option>
                        <option value=7>Russia</option>
                        <option value=11>CP-851(Greek)</option>
                        <option value=12>CP-853(Turkish)</option>
                        <option value=13>CP-857(Turkish)</option>
                        <option value=14>CP-737(Greek)</option>
                        <option value=15>ISO8859-7(Greek)</option>
                        <option value=16>WPC-1252(Latin1)</option>
                        <option value=17>CP866(Cyrillic,Russian)</option>
                        <option value=18>CP-852(Slavonic)</option>
                        <option value=19>CP-858(Multilingual)</option>
                        <option value=20>KU42(Thai)</option>
                        <option value=21>TIS11(Thai)</option>
                        <option value=22>TIS13(Thai)</option>
                        <option value=23>TIS14(Thai)</option>
                        <option value=24>TIS16(Thai)</option>
                        <option value=25>TIS17(Thai)</option>
                        <option value=26>TIS18(Thai)</option>
                        <option value=30>TCVN3-1(Vietnamese)</option>
                        <option value=31>TCVN3-2(Vietnamese)</option>
                        <option value=32>CP-720(Arabic)</option>
                        <option value=33>CP-775(Baltic)</option>
                        <option value=34>CP-855(Cyrillic)</option>
                        <option value=35>CP-861(Iceland)</option>
                        <option value=36>CP-862(Hebrew)</option>
                        <option value=37>CP-864(Arabic)</option>
                        <option value=38>CP-869(Greek)</option>
                        <option value=39>ISO8859-2(Central European)</option>
                        <option value=40>ISO8859-15(Latin9)</option>
                        <option value=41>CP-1098(Farsi)</option>
                        <option value=42>CP-1118(Lithuanian)</option>
                        <option value=43>CP-1119(Lithuanian)</option>
                        <option value=44>CP-1125(Ukrainian)</option>
                        <option value=45>WCP-1250(Central European)</option>
                        <option value=46>WCP-1251(Cyrillic,Russian)</option>
                        <option value=47>WCP-1253(Greek)</option>
                        <option value=48>WCP-1254(Turkish)</option>
                        <option value=49>WCP-1255(Hebrew)</option>
                        <option value=50>WCP-1256(Arabic)</option>
                        <option value=51>WCP-1257(Baltic)</option>
                        <option value=52>WCP-1258(Vietnamese)</option>
                        <option value=53>KZ1048(Kazakhstan)</option>
                         
            </select>
            <button id="setcp" type="submit" class="btn">Set code table</button>
            </a>
        </li>
        <li>
            <a>
                <select name="cahrset_id" id="charset_val">
                        <option value=0 selected>U.S.A</option>
                        <option value=1>France</option>
                        <option value=2>Germany</option>
                        <option value=3>U.K</option>
                        <option value=4>Denmark I</option>
                        <option value=5>Sweden</option>
                        <option value=6>Italy</option>
                        <option value=7>Spain I</option>
                        <option value=8>Japan</option>
                        <option value=9>Norway</option>
                        <option value=10>Danmark II</option>
                        <option value=11>Spain II</option>
                        <option value=12>Latin America</option>
                        <option value=13>Korea</option>
                </select>
                <button type="submit" class="btn"  id="setcharset">Set character set</button>
            </a>
        </li>
        <li>
            <h6 >display string</h6>
        </li>
        <li>
            <a>
            <textarea id="in_text" rows="2" cols="20"  maxlength="40" >**WD-5202 Graphic **</textarea>
            <button id="inputstr" type="submit" class="btn" >Show String</button> 
            </a> 
        </li>
        <li>
            <a>
            <button id = "setastitle" class="btn btn-primary" type="submit">Save As Title</button>
            </a>
        </li>
    </div>
    <div class="mybox-5">
        <li>
            <h6>Reset To Factory</h6>
        </li>
        <li>
            <a>
            <select id="clearflashid">
                            <option value= "0" selected>Clear all flash data</option>
                            <option value= "1">Clear others setup data</option>
                            <option value= "2"  >Clear setup title data only</option>
                            <!--option value= "3"  >Clear ModelName data</option-->
                </select>
            <button  id="clearflash" type="submit" class="btn">Clear Flash</button>
            <p class="mdl-tooltip" for="clearflash">
                <i class="material-icons">notifications</i><sapn id="MSGclrflash"></sapn>
            </p>
            </a>
        </li>
    </div>
    
    <footer>Copyright &copy; http://www.winpos.com.tw</footer>

<script>
    window.onload = webstart();
</script>
</body>
</html>